* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.tab-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tab-wrapper {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tab-btn-container {
    width: 100%;
    height: 100%;
    max-width: 1440px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.tab-btn {
    width: 10%;
    background-color: #ff3333;
    text-align: center;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    list-style: none;
}

.tab-btn:hover {
    background-color: #ce2424;
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    box-shadow: 0 5px 10px #00000047;
}

#active {
    background-color: #ce2424;
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    box-shadow: 0 5px 10px #00000047;
}


/* This is the Content Section */

.tab-content-container {
    width: 100%;
    padding: 100px 0;
    margin-top: 50px;
    height: auto;
    /* border: 1px solid red; */
}

.tab-content {
    width: 100%;
    max-width: 1440px;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.tab-left-content,
.tab-right-content {
    width: 48%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.tab-left-content>img {
    width: 100%;
}

.tab-right-content>p {
    width: 90%;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
}

.tab-right-content>h2 {
    width: 90%;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 3.5rem;
}

@media only screen and (max-width:1190px) {
    .tab-right-content>h2 {
        font-size: 3rem;
    }
}

@media only screen and (max-width:1024px) {
    .tab-btn {
        font-size: .8rem;
    }
    .tab-content-container {
        padding: 0px;
    }
    .tab-right-content>h2 {
        font-size: 2.5rem;
    }
    .tab-right-content>p {
        font-size: 1rem;
    }
}

@media only screen and (max-width:950px) {
    .tab-btn {
        width: 11%;
        margin-top: 10px;
        font-size: .8rem;
        padding: 8px;
    }
    .tab-content-container {
        margin-top: 0;
        padding: 50px 0;
    }
    .tab-right-content>h2 {
        font-size: 2rem;
    }
}

@media only screen and (max-width:750px) {
    .tab-btn {
        width: 11%;
        margin-top: 10px;
        font-size: .6rem;
        padding: 8px;
    }
    .tab-right-content>h2 {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width:600px) {
    .tab-left-content,
    .tab-right-content {
        width: 90%;
        padding: 20px;
    }
    .tab-content {
        flex-direction: column-reverse;
    }
    .tab-btn {
        width: 25%;
        font-size: .7rem;
    }
    .tab-right-content>p {
        font-size: .9rem;
    }
}